@import "../../theme";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 37px;
  border-radius: 8px;
  background: themeColor('primary');
  color: themeColor('white');
  font-size: 13px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background: themeColor('primary', 'dark');
  }
}

.button-text {
  display: flex;
  align-items: center;
  width: max-content;
  color: themeColor('primary');
  font-weight: 500;
  font-size: 11px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: themeColor('primary', 'dark');
  }

  &[disabled="true"] {
    color: themeColor('text', 'disabled');
    pointer-events: none;
  }
}

.colors {
  &__blue {
    color: themeColor('primary');
  }

  &__red {
    color: themeColor('error');

    &:hover {
      color: themeColor('error', 'dark');
    }
  }
}

.fs {
  &__13 {
    font-size: 13px;
  }
}

.fw {
  &__500 {
    font-weight: 500;
  }
}

.m {
  &__l-auto {
    margin-left: auto;
  }

  &__r-auto {
    margin-right: auto;
  }
}
